body {
  margin: 0px;
  background-image: url(https://i.ibb.co/zTspxyf2/istockphoto-508427547-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  background: rgb(159, 201, 245);
  background: linear-gradient(
    135deg,
    rgba(159, 201, 245, 1) 0%,
    rgba(111, 181, 233, 1) 30%,
    rgba(0, 109, 195, 1) 90%
  );
  padding: 10px;
  background-attachment: fixed;
}
#search-bar {
  border: 8px solid white;
  padding: 5px;
  border-radius: 2px;
  width: 400px;
  opacity: 75%;
}
#search-button {
  border: 10px solid #0185d0;
  background-color: #0185d0;
  margin: 10px;
  padding: 4px 12px;
  border-radius: 5px;
  color: white;
}
#search-button:hover {
  border: 10px solid #0268c0;
  background-color: #0268c0;
  transition: all 120ms ease-in-out;
}
.city-container {
  text-align: center;
  color: white;
}
#current-city {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#current-temperature {
  font-weight: 300;
  font-size: 42px;
  margin-top: 20px;
  font-family: "Poppins", serif;
}
