body {
  margin: 0px;
  background-image: url(https://i.ibb.co/HpX6rsYn/pexels-blue-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  background: rgb(216, 236, 251);
  background: linear-gradient(
    135deg,
    rgba(216, 236, 251, 1) 0%,
    rgba(122, 183, 241, 1) 50%,
    rgba(22, 155, 229, 1) 100%
  );
  padding: 10px;
  background-attachment: fixed;
  margin-bottom: 25px;
}
#search-bar {
  border: 8px solid white;
  padding: 5px;
  border-radius: 4px;
  width: 400px;
  opacity: 75%;
}
#search-button {
  border: 10px solid #1199e3;
  background-color: #1199e3;
  margin: 10px;
  padding: 4px 12px;
  border-radius: 5px;
  color: white;
}
#search-button:hover {
  border: 10px solid #086ac0;
  background-color: #086ac0;
  transition: all 120ms ease-in-out;
}
.city-container {
  text-align: center;
  color: white;
}
#current-city {
  font-family: "Raleway", serif;
  font-weight: 200;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#temperature-unit {
  display: inline-flex;
  justify-content: center;
  margin-top: 15px;
  padding: 0px 255px;
}
#current-temperature {
  font-weight: 300;
  font-size: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", serif;
  color: white;
}
.unit {
  font-family: "Poppins", serif;
  font-size: 24px;
  color: white;
}
#feels-like {
  text-align: center;
  padding-bottom: 20px;
}
#weather-icon {
  font-size: 60px;
}
#weather-box {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  max-width: 550px;
  font-family: "Raleway", serif;
}
.current-info {
  color: white;
}
#humidity-wind {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid rgb(255, 255, 255, 0.4);
}
strong {
  color: #65b4ef;
}
footer {
  font-size: 12px;
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid rgb(255, 255, 255, 0.4);
}
a {
  text-decoration: none;
  color: #1199e3;
}
a:hover {
  text-decoration: underline;
  color: #086ac0;
}
